//sections
section{
  padding:$baseline*3 0;
  &.off-white-bg{
  	background:url(../images/off_white_sec_bg.png) repeat-y right;
  }
  &.inverse-secion{
  	@extend %white_text;
    background-color:shade($link-color,80%);
  }
  &.founder-section{
  	background:url(../images/company/headshot.png) right bottom no-repeat;
  	.text-container{
	  	@include breakpoint(sm){
				h1,h2,h3,h4,h5,h6,p,small,li{
			    color:white!important;
			  }
	  		background:rgba(255,102,0,.8);
	  		text-align:center;
	  		padding:$baseline/2;

	  	}
  	}
  }
  &.apart-section{
  	background:url(../images/company/apart_bg.png) no-repeat right bottom;
  	background-size:cover;
  }
  &.icons-section{
  	h5{
  		color:$primary-color;
  	}
    .item{
      padding:$baseline $baseline/2;
      cursor:pointer;
      @include transition(linear all $base-transition-duration);
      position:relative;
      &:hover{
        box-shadow:0 3px 20px rgba(0, 0, 0, 0.1);
        border-radius:$base-border-radius;
      }
    }
  }
}



