%footer#global-footer
	%section
		.container
			.col-sm-4.col-xs-12
				.logo-container
					%a.logo.quarter-margin-bottom{:href=>"#"}
					%p
						© VIAM 2014
			.col-sm-2.col-xs-6
				%h6
					Background
				%ul.list-unstyled.footer-main-nav
					%li
						%a{:href=>"#"}
							Company
					%li
						%a{:href=>"#"}
							Partners
					%li
						%a{:href=>"#"}
							Contact us 
			.col-sm-2.col-xs-6
				%h6
					Industries
				%ul.list-unstyled.footer-main-nav
					%li
						%a{:href=>"#"}
							Mobile carriers
					%li
						%a{:href=>"#"}
							Resorts and parks
					%li
						%a{:href=>"#"}
							Private land owners
					%li
						%a{:href=>"#"}
							Government
					%li
						%a{:href=>"#"}
							Oil & Gas
					%li
						%a{:href=>"#"}
							Utilities
			.col-sm-2.col-xs-6
				%h6
					Services
				%ul.list-unstyled.footer-main-nav
					%li
						%a{:href=>"#"}
							Strategy and design
					%li
						%a{:href=>"#"}
							Infrastructure 
					%li
						%a{:href=>"#"}
							Network services 
			.col-sm-2.col-xs-6
				%h6
					Support
				%ul.list-unstyled.footer-main-nav
					%li
						%a{:href=>"#"}
							Privacy Policy
					%li
						%a{:href=>"#"}
							Terms of Use




