%header.main-nav-container
	.container
		.pull-left
			%a.logo{:href=>"#"}
		.pull-right
			%ul.list-inline.desktop-nav
				%li
					%a{:href=>"#"}
						Company
				%li
					%a{:href=>"#"}
						Industries
				%li
					%a{:href=>"#"}
						Services
				%li
					%a{:href=>"#"}
						Partners
				%li
					%a{:href=>"#"}
						Contact
			%a.menu-toggle#js-menu-button{:href=>"#"}
				%i.fa.fa-navicon
%nav.menu-drop
	%section
		.container
			%ul.list-unstyled.mobile-nav
				%li
					%a{:href=>"#"}
						Company
				%li
					%a{:href=>"#"}
						Industries
				%li
					%a{:href=>"#"}
						Services
				%li
					%a{:href=>"#"}
						Partners
				%li
					%a{:href=>"#"}
						Contact
