%header.main-nav-container
	.container
		.pull-left
			%a.logo{:href=>"#"}
		.pull-right
			%ul.list-inline.desktop-nav
				%li.active
					%a{:href=>"#"}
						Company
				%li
					%a{:href=>"#"}
						Industries
				%li
					%a{:href=>"#"}
						Services
				%li
					%a{:href=>"#"}
						Partners
				%li
					%a{:href=>"#"}
						Contact
			%a.menu-toggle#js-menu-button-open{:href=>"#"}
				%i.fa.fa-navicon
%nav.menu-drop
	.container
		%a.menu-toggle.pull-right#js-menu-button-close{:href=>"#"}
			%i.fa.fa-times
		.clearfix
		%ul.list-unstyled.mobile-nav-main
			%li.active
				%a{:href=>"#"}
					Company
			%li
				%a{:href=>"#"}
					Industries
			%li
				%a{:href=>"#"}
					Services
			%li
				%a{:href=>"#"}
					Partners
			%li
				%a{:href=>"#"}
					Contact
