%header.main-nav-container
	.container
		.pull-left
			%a.logo{:href=>"#"}
		.pull-right
			%ul.list-inline
				%li
					%a{:href=>"#"}
						Company
				%li
					%a{:href=>"#"}
						Industries
				%li
					%a{:href=>"#"}
						Services
				%li
					%a{:href=>"#"}
						Partners
				%li
					%a{:href=>"#"}
						Contact
			%a.menu-drop{:href=>"#"}
				%i.fa.fa-bars