#global-footer{
	border-top:$gray-color 1px solid;

	.logo-container{
		p{
			@include breakpoint(sm){
				margin-bottom:$baseline!important;
			}
		}
	}
	h6{
		color:black;
	}
	p{
		font-size: 0.7em;
	}
	ul.footer-main-nav{
		margin-bottom:$baseline;
		li{
			font-size: 0.7em; 
			a{
				color:$top-nav-link-color;
				display:block;
				&:hover{
					color:$primary-color;
					@include transition-duration($base-transition-duration)
				}
			}
		}
	}
}