header{
	&.main-nav-container{
		position:fixed;
		top:0;
		z-index: 900;
		display:inline-block;
		width: 100%;
		background:white;
		padding:$baseline/2 0;
		box-shadow:0 1px 0 rgba(0,0,0,.1);
		a{
			color:tint($text-color,30%);
			&.logo{
				width:126px;
				height:80px;
				display:block;
				background:url(../images/logo.png);
			}
		}
		ul.desktop-nav{
			margin-top:$baseline;
			li{
				font-size:.8em;
				margin-left:$baseline;
				text-transform:uppercase;
				font-family:$bold-font-name;
			}
			@include breakpoint(sm) {
		    display:none;
		  }
		}
		a.menu-toggle{
			display:none;
			@include breakpoint(sm) {
		    display:block;
		    margin-top:$baseline;
		  }
		}
		&.fixed-nav{
			ul.desktop-nav{
				display:none;
			}
			a.menu-toggle{
				display:block;
				margin-top:$baseline;
			}
		}
	}
}




//drop-menu

nav.menu-drop{
box-shadow:inset 0 2px 8px rgba(0,0,0,.2);
position: fixed;
opacity: 0;
z-index: 800;
height: 100%;
width: 100%;
@include transform(translate(0, -127%));
margin-top: -1px;
background-color: #fafafa;
background:$background-color;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center center;
-webkit-transition: -webkit-transform 0.5s, opacity 0 0.6s;
-moz-transition: -moz-transform 0.5s, opacity 0 0.6s;
-o-transition: -o-transform 0.5s, opacity 0 0.6s;
transition: transform 0.5s, opacity 0 0.6s;
overflow-y: scroll;
	ul.mobile-nav{
		li{
			text-align:center;
		}
	}
}

nav.menu-show{
  opacity:1;
}



.nav-open{
  overflow:hidden;
  .menu-drop{
    @include transform(translate(0,0));
    opacity: 1;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: -webkit-transform 0.2s, opacity 0;
    -moz-transition: -moz-transform 0.2s, opacity 0;
    -o-transition: -o-transform 0.2s, opacity 0;
    transition: transform 0.2s, opacity 0;
  }
}