%section.offer-section#offer
	.container
		.row	
			.col-lg-12
				.text-center
					%h2
						Find out your local wireless connectivity score 
					%p
						with a complimentary VIAM Coverage Report
				%form.form-inline.text-center{:role => "form"}
					.form-group
						%input.form-control{:placeholder => "Firat Name"}
					.form-group
						%input.form-control{:placeholder => "Last Name"}
					.form-group
						%input.form-control{:placeholder => "Email"}
					.form-group
						%input.form-control{:placeholder => "Zip Code"}

					%button.btn.btn-primary{:type => "submit"} 	Submit
				.text-center.double-margin-top
					%img{:src=>"/images/home/report.png"}
