%section.inverse-secion.text-center.bg-cover{:style=>"background-image:url(/images/company/values_slider_bg.png);"}	
	.container
		.row
			.col-sm-1
			.col-sm-10
				%h1
					Core Values
				%p.lead.no-margin-bottom
					Our clients appreciate our ability to pull together resources that address problems and deliver solutions quickly. They also know us as a company that won’t compromise on our core values: 
			.col-sm-1
		.row
			.col-sm-12
				=partial"company/slider"