;;;
"title": "Company",
"activeclass": "company"
;;;

%section.inverse-secion.text-center{:style=>"background:url(/images/company/header_bg_2.png) no-repeat center, url(/images/company/header_bg.png) no-repeat scroll center top; background-size:cover;"}			
	.container
		.row
			.col-sm-1
			.col-sm-10
				%h1
					Wherever You 
					%span.extra-bold-font-name
						Work 
					or 
					%span.extra-bold-font-name
						Play
				%p
					you can count on VIAM to fill in your ‘communications gaps’ with reliable, affordable, best-in-class telecommunications with all the capacity and coverage you need. If you’re in a region that’s lags behind in connectivity, VIAM puts technology to work so you can get ahead.
			.col-sm-1
%section
	.container
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%p.text-center.lead
					%span.bold-font-name
						VIAM designs, builds and operates telecommunication assets 
					%br
					and network-based services in underserved locations for telecommunications companies, parks and resorts, government entities, private industry and private land owners. Our specialty is solving complex challenges that result from difficult-to-develop terrain.
				.text-center
					%img{:src=>"/images/company/icon_wifi_hero.png"}
			.col-md-1.col-lg-2
=partial"company/values"
