;;;
"title": "Company",
"activeclass": "company"
;;;

%section.inverse-secion.text-center{:style=>"background:url(/images/company/header_bg_2.png) no-repeat center, url(/images/company/header_bg.png) no-repeat scroll center top; background-size:cover;"}			
	.container
		.row
			.col-sm-1
			.col-sm-10
				%h1
					Wherever You 
					%span.extra-bold-font-name
						Work 
					or 
					%span.extra-bold-font-name
						Play
				%p
					you can count on VIAM to fill in your ‘communications gaps’ with reliable, affordable, best-in-class telecommunications with all the capacity and coverage you need. If you’re in a region that’s lags behind in connectivity, VIAM puts technology to work so you can get ahead.
			.col-sm-1
%section
	.container
		.row
			.col-md-1.col-lg-2
			.col-md-10.col-lg-8
				%p.text-center.lead
					%span.bold-font-name
						VIAM designs, builds and operates telecommunication assets 
					%br
					and network-based services in underserved locations for telecommunications companies, parks and resorts, government entities, private industry and private land owners. Our specialty is solving complex challenges that result from difficult-to-develop terrain.
				.text-center
					%img{:src=>"/images/company/icon_wifi_hero.png"}
			.col-md-1.col-lg-2
=partial"company/values"
%section.no-padding-bottom.founder-section
	.container
		.row.double-padding-bottom
			.col-md-7.col-sm-6
				.text-container
					%h2
						Our Founder
					%h5.text-uppercase
						Jeff Johnson
					%p
						Jeff Johnson is an entrepreneur and outdoor enthusiast with more than 25 years of experience in telecommunications. Throughout his career, Jeff’s focus has always been on solving real-world communications problems – like enabling 4G wireless in remote locations in the Rocky Mountains or helping the World Cup meet the telecommunications needs of every player, fan, press person and local dignitary in attendance.
					%p
						After years of doing business around the world and working with best-of-breed communications, Jeff often became frustrated when he couldn’t keep in touch and stay productive in the places he most wanted to be – in ski areas, national parks or remote mountain communities. Realizing that there were millions of others who shared this frustration, he founded VIAM with a unique vision – to help people conduct business and stay connected, wherever and whenever they travel.  
				
			.col-md-5.col-sm-6
%section.apart-section
	.container
		.row
			.col-sm-12
				%h2
					What sets VIAM apart
				%p.lead
					Our commitment to your success is supported by our:
				.row
					.col-sm-6
						%ul.fa-ul
							%li
								%i.fa-li.fa.fa-check
								Unmatched expertise in the geographical challenges of western states
							%li  
								%i.fa-li.fa.fa-check
								Deep-seated, exclusive relationships with regional network services providers and carriers 
							%li
								%i.fa-li.fa.fa-check
								MSA-based relationships with national carriers
							%li
								%i.fa-li.fa.fa-check
								Streamlined delivery using proven proprietary methodologies
					.col-sm-6
						%ul.fa-ul
							%li
								%i.fa-li.fa.fa-check
								Interdisciplinary technical, business and regulatory savvy
							%li  
								%i.fa-li.fa.fa-check
								Expertise across the many disciplines required to deliver complex communications solutions.
							%li
								%i.fa-li.fa.fa-check
								Multi-layered technical and business savvy 
							%li
								%i.fa-li.fa.fa-check
								Global program and project management  acumen directing multitudes of stakeholders and entities required to deliver results quickly
				.row.col-lg-12
					.text-center.margin-top
						%img.img-responsive{:src=>"/images/company/apart_line.png"}
%section.icons-section
	.container
		.row.double-margin-bottom
			.col-sm-12
				.text-center
					%h2
						Taking on the complex telecommunications landscape
					%p.lead
						The process of developing successful communications solutions is multi-dimensional and complicated. It involves a deep interdisciplinary understanding and ability to coordinate across all dimensions:
		.row.double-margin-bottom
			.col-sm-4
				.text-center
					%img.img-responsive.margin-auto.margin-bottom{:src=>"/images/company/apart_icon_carrere.png"}
					%h5.text-uppercase
						CARRIER SERVICES
					%p
						wireline, wireless, voice, data Ethernet
			.col-sm-4
				.text-center
					%img.img-responsive.margin-auto.margin-bottom{:src=>"/images/company/apart_icon_finance.png"}
					%h5.text-uppercase
						FINANCIAL STRUCTURES
					%p
						understanding of capital and operating costs across a wide variety of solution inputs
			.col-sm-4
				.text-center
					%img.img-responsive.margin-auto.margin-bottom{:src=>"/images/company/apart_icon_tech.png"}
					%h5.text-uppercase
						TECHNOLOGY
					%p
						wireline, wireless, voice, data
		.row
			.col-sm-4
				.text-center
					%img.img-responsive.margin-auto.margin-bottom{:src=>"/images/company/apart_icon_people.png"}
					%h5.text-uppercase
						PEOPLE
					%p
						ability to work with and manage many people horizontally across many disciplines and vertically within large complex organizations
			.col-sm-4
				.text-center
					%img.img-responsive.margin-auto.margin-bottom{:src=>"/images/company/apart_icon_reg.png"}
					%h5.text-uppercase
						REGULATORY ISSUES
					%p
						communications, property, health and safety among other regulatory domains
			.col-sm-4
				.text-center
					%img.img-responsive.margin-auto.margin-bottom{:src=>"/images/company/apart_icon_process.png"}
					%h5.text-uppercase
						PROCESSES
					%p
						site acquisition, site development, wireless and wireline carrier internal processes, design, development, installation
				
