;;;
"title": "Home",
"activeclass": "home"
;;;

%section.slider.bg-cover{:style=>"background:url(/images/slider_bg.png)  no-repeat scroll center ; background-size:cover;"}
	.container
		.row
			.col-lg-12
				%h1.quarter-margin-bottom
					We Bring Best-In-Class 
					%br
					Connections 
				%h2
					to Parks & Resorts 
				%a.btn.btn-lg.btn-primary
					Learn More
%section.off-white-bg
	.container
		.col-sm-7
			%h2
				Filling in gaps &mdash; one local service area at a time
			%p
				Wherever you work or play, you can count on VIAM to fill in your ‘communications gaps’ with reliable, affordable, best-in-class telecommunications with all the capacity and coverage you need. If you’re in a region that’s lags behind in connectivity, VIAM puts technology to work so you can get ahead. 
			%p
				VIAM designs, builds and operates telecommunication assets and network-based services in underserved locations for telecommunications companies, parks and resorts, government entities, private industry and private land owners. Our specialty is solving complex challenges that result from difficult-to-develop terrain.
			%a.flourish-link{:href=>"/company"}
				Learn More About Our Company
		.col-sm-1
		.col-sm-4
			.text-center
				%img.img-responsive.double-padding-top{:src=>"/images/home_towers.png"}
%section
	.container
		.col-lg-12
			%img.img-responsive.margin-auto{:src=>"/images/home_infographic.png"}
%section.off-white-bg
	.container
		.col-sm-6
			.text-center
				%img.img-responsive.padding-top.padding-bottom{:src=>"/images/home_circle_images.png"}
		.col-sm-1
		.col-sm-5
			%h2
				All the services it takes to keep you connected
			%p
				At VIAM, we take pride in our ability to simplify complex technology – so you can live and work wherever you like. You can count on us to lead the way in literally every aspect of the communications development process: 
			%ul.list-default
				%li
					Strategy
				%li
					Site acquisition
				%li
					Technical design
				%li
					Technical integration
				%li
					Business case development
				%li
					Infrastructure
				%li
					Operations
				%li
					Network services
			%a.flourish-link{:href=>"#"}
				Learn More About Our Services

=partial"shared/offer"